@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;1,400;1,500&display=swap");

.theme-container.home-class header.hero {
  height: 55vh;
  padding-top: 20vh;
}

.theme-container.home-class header.hero h1 {
  font-weight: 400;
  font-family: "Proza Libre", sans-serif;
  font-size: 8rem;
}

.theme-container.home-class header.hero p.description {
  max-width: unset;
}
